/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Outfit:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #1C75CE;
  --color__d1: #1F2937;
  --color__d2: #74797E;
  --color__d3: #9CA3AF;
  --outfit: 'Outfit', sans-serif;
  --dm-sans: 'DM Sans', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #F9FAFB;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--outfit);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1345px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 25px 0;
  background: #fff;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {

}
.header-logo img {

}
.header-right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.header-language {
  
}
.header-language > a {
  display: flex;
  align-items: center;
}
.header-language > a .image {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.header-language > a .image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.header-language .dropdown-menu {
  min-width: 100px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-language .dropdown-menu ul {
  
}
.header-language .dropdown-menu ul li {
  
}
.header-language .dropdown-menu ul li a {
  padding: 13px;
  transition: 0.3s;
}
.header-language .dropdown-menu ul li a:hover {
  color: var(--theme__color1);
}

.header-menu {

}
.header-menu a {
  transition: 0.3s;
}
.header-menu a:hover {
  opacity: 0.7;
}

.header-profile {

}
.header-profile > a {
  font-size: 16px;
  gap: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #4B5563;
}
.header-profile > a > .image {

}
.header-profile > a > .txt {

}
.header-profile > a > i {

}

.user .dropdown-menu {
  background: var(--theme__color1);
  padding: 24px 14px;
  width: 200px;
  border: none;
  color: #fff;
  margin-top: 10px;
  inset: 13px auto auto 0px !important;
}
.user .dropdown-menu::before {
  content: '';
  position: absolute;
  display: block;
  top: -28px;
  right: 10px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--theme__color1);
}
.user .dropdown-menu .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.user .dropdown-menu .head .name {
  color: inherit;
  font-size: 18px;
  margin-bottom: 5px;
}
.user .dropdown-menu .role {
  font-size: 14px;
  opacity: 0.7;
}
.user .dropdown-menu li a {
  color: #fff;
  display: flex;
  height: 40px;
  align-items: center;
  border-top: 1px solid #f7f7f736;
  font-size: 16px;
  transition: 0.3s;
}
.user .dropdown-menu li a:hover {
  background: #2354da;
}
.user .dropdown-menu li a .icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
}
/* header-end */






/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---main-section--- */
.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.main-section .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
}
.main-section__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
}

.main-section__row {
  flex-grow: 1;
  gap: 20px;
  padding: 20px 0;
  display: flex;
}
.sidebar {
  padding: 30px;
  width: 484px;
  flex-shrink: 0;
}
.main-column {

}
/* ---main-section---end */


/* ---sidebar--- */
.sidebar {
  background: rgba(28, 117, 206, 0.3);
  border-radius: 12px;
}
.sidebar__inner {

}
.wt-box {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #fff;
}
/* ---sidebar---end */


/* ---dash__now--- */
.dash__now {
  display: flex;
  flex-direction: column;
}
.dash__now__title {
  margin-bottom: 10px;
}
.dash__now__title h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.dash__now__pai {
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}
.dash__now__pai .text-ellipse {
  height: 74%;
  width: 74%;
  font-size: 66px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: var(--theme__color1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.dash__now__details {

}
.dash__now__details h4 {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 400;
  color: #9CA3AF;
  text-align: center;
}
.dash__now__details__per {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.pl-mdl {
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: 400;
  color: #74797E;
  background: #F9FAFB;
}
.pl-mdl .txt {

}
/* ---dash__now---end */


/* ---dash__avr--- */
.dash__avr {

}
.dash__avr__title {

}
.dash__avr__title h4 {
  font-size: 16px;
  font-weight: 400;
  color: #9CA3AF;
}
.dash__avr__chart {

}
.dash__avr__sum {
	--bs-gutter-x: 12px;
	margin-top: 10px;
}
.avr__sum {
  padding: 18px 22px;
  text-align: center;
  background: #F2F8FF;
  border-radius: 8px;
}
.avr__sum h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--theme__color1);
}
.avr__sum p {
  font-size: 12px;
  font-weight: 400;
  color: #878E95;
}
/* ---dash__avr---end */


/* ---dash__tbl--- */
.dash__tbl {

}

.dash-table {

}
.dash-table table {

}
.dash-table table td {
  padding: 14px 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme__color1);
}
.dash-table table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #E7E7E7;
}
.dash-table table tbody td:first-child {
  font-weight: 300;
  color: var(--color__d3);
}
.dash-table table tbody td:last-child{
  font-weight: 300;
  color: var(--color__d3);
}
.dash-table table thead tr {
  background: #F2F8FF;
  border-radius: 4px;
}
.dash-table table thead td {
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 400;
  color: #1F2937;
}
/* ---dash__tbl---end */


/* ---radial-progress--- */

/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
  height: auto;
  max-width: 206px;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress text {
  fill: #fff;
  font: 400 1em/1 'Oswald', sans-serif;
  text-anchor: middle;
  fill: #000;
}

/*** COLORS ***/
/* Primary */

svg.radial-progress circle { 
  stroke: var(--theme__color1); 
}
svg.radial-progress circle.incomplete {
  stroke-width: 1;
  opacity: 0.1;
}
svg.radial-progress circle.complete {
  stroke-width: 3;
  stroke-linecap: round;
}
/* ---radial-progress---end */


/* ---dash__ct--- */
.dash__ct {
  
}

.filter-title {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-nav {
  
}
.filter-nav ul {
  display: flex;
  gap: 11px;
}
.filter-nav ul li {

}
.filter-nav ul li a {
  
}
.filter-nav ul li a.active,
.filter-nav ul li a:hover {
  background: var(--theme__color1);
  color: #fff;
}
.nav-item {
  min-height: 40px;
  padding: 5px 20px;
  border-radius: 8px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F9FAFB;
  color: var(--theme__color1);
  border: 1px solid transparent;
  transition: 0.3s;
}
.nav-item .caret {

}
.nav-item--bordered {
  color: #6B7280;
  border-color: rgba(167, 161, 158, 0.2);
  background: transparent;
}
.nav-item--bordered:hover {
  background: #F9FAFB;
  color: #6B7280;
}

.ct-tab-content {

}
.ct-tab-pane {

}
.ct-tp-title {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ct-tp-title h4 {
  font-size: 16px;
  font-weight: 400;
  color: #74797E;
}

.pro-items__wrap {
  height: 580px;
}
.pro-item {
  margin-bottom: 12px;
  gap: 12px;
  display: flex;
}
.pro-item:last-child {
  margin-bottom: 0;
}
.pro-item__main {
  padding: 7px;
  border-radius: 6px;
  background: #F9FAFB;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro-item__main__left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.pro-item__main__image {
  width: 84px;
  height: 72px;
  border-radius: 6px;
  flex-shrink: 0;
}
.pro-item__main__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.pro-item__main__cont {

}
.pro-item__main__cont h3 {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 400;
}
.pro-item__main__cont p {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 300;
  color: #9CA3AF;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  transition: .3s ease;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pro-item__mts {
  gap: 8px;
  display: flex;
  align-items: center;
}
.pro-item__mts__single {
  padding: 0 4px;
  border-radius: 4px;
  font-size: 14px;
  gap: 5px;
  font-weight: 300;
  color: var(--theme__color1);
  background: #fff;
  display: flex;
  align-items: center;
}
.pro-item__mts__single .icon {

}
.pro-item__mts__single .icon i {

}
.pro-item__mts__single .txt {

}

.pro-item__main__right {
  padding-right: 2px;
  flex-shrink: 0;
}
.pro-item__main__right h3 {
  font-size: 30px;
  font-weight: 500;
  color: var(--theme__color1);
}

.pro-item__num {
  gap: 8px;
  padding: 11px;
  border-radius: 6px;
  background: #F2F8FF;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pro-item__num h3 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  color: var(--theme__color1);
}
.pro-item__num .pro-line {
  height: 28px;
  width: 75px;
}
/* ---dash__ct---end */


/* ---dash__sim-table--- */
.dash__sim-table {

}
.sim__title {
  padding: 0 0 9px;
  border-bottom: 1px solid #EDEFF2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sim__title h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1F2937;
}

.sim-table {
  height: 290px;
}
.sim-table table {
  border-spacing: 0 12px;
  border-collapse: separate;
}
.sim-table tr {
  border-radius: 4px;
  background: rgba(107, 114, 128, 0.06);
}
.sim-table tr td {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #74797E;
}
.sim-table tr td:last-child {
  text-align: right;
}
.country-n {
  gap: 8px;
  display: flex;
  align-items: center;
}
.country-n .flag {
  height: 18px;
  width: 18x;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
} 
.country-n .flag img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.country-n .txt {
  font-size: 16px;
  font-weight: 300;
  color: #1F2937;
}
/* ---dash__sim-table---end */


/* ---custom-scrollbar--- */
.mCSB_inside > .mCSB_container {
  margin-right: 22px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  opacity: 1 !important;
  background: #EDEFF0 !important;
  border-radius: 10px;
}
/* ---custom-scrollbar---end */


/* ---rc-table--- */
.rc-table_outer {
  padding: 20px;
  border-radius: 8px;
  background: #F9FAFB;
}
.rc-table-title {
  margin-bottom: 16px;
}
.rc-table-title h4 {
  font-size: 16px;
  font-weight: 400;
  color: #74797E;
}
.rc-table-foot {
  padding-top: 12px;
  border-top: 1px solid #E7E7E7;
}
.rc-table-foot h4 {
  font-size: 16px;
  font-weight: 400;
  color: #74797E;
}
.rc-table {

}
.rc-table table {

}
.rc-table td {
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.rc-table tbody tr:not(:last-child) td {
	border-bottom: 1px solid #E7E7E7;
}
.rc-table td:nth-child(2) {
  width: 28%;
}
.rc-table thead tr {

}
.rc-table thead td {
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 400;
  color: #1F2937;
  background: #fff;
}
.td-fill {
  height: 16px;
  max-width: 112px;
  background: #E6F1FD;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
}
.td-fill .filled {
  height: 100%;
  display: block;
  background: var(--theme__color1);
}
/* ---rc-table---end */